/* common styles  */
body {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}
h1,
p {
  color: #3a3a3a;
}

/* header style  */
header div {
  margin: 45px 0px;
}

/* banner style  */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-left {
  width: 50%;
}
.banner-left h1 {
  font-size: 52px;
}
.banner-left p {
  font-weight: 600;
  color: #3a3a3a;
  margin-bottom: 20px;
}
/* .transition {
  width: 100px;
  height: 100px;
  margin: 100px auto;
  background: #e02c6d;
  transition-property: width;
  transition-delay: 1s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
.transition:hover {
  width: 250px;
} */
.btn {
  background-color: #e02c6d;
  padding: 14px 30px;
  border: none;
  border-radius: 35px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.fa-arrow-right {
  margin-left: 10px;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}
.fa-arrow-right:hover {
  margin-left: 30px;
}
.banner-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-right img {
  position: absolute;
}

/* products style start  */

.product-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product-header {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
.product-grid {
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  align-items: center;
  justify-content: center;
}
.product {
  width: 300px;
  height: 425px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 23px 5px rgb(0 0 0 / 20%);
}
.product-detail h3 {
  font-size: 23px;
}

.product-icons {
  margin-right: 10px;
}
.product-ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-info span {
  font-size: 25px;
}
.product-info p {
  font-weight: 600;
  color: black;
}
.fa-star {
  color: orange;
}
.see-more {
  position: relative;
  left: 680px;
}
.see-more a {
  text-decoration: none;
  float: right;
  color: #e02c6d;
  font-weight: 900;
}
/* products style end */

/* newsletter style start  */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
.form-box {
  padding: 10px;
  border-radius: 30px;
  background: #ececec;
  box-shadow: 10px 10px 15x #c7c4c4, -10px -10px 15px #fff;
}
.form-box input {
  font-size: 18px;
  color: black;
  padding: 15px 10px;
  border: none;
  outline: none;
  background: #ececec;
}
.newsletter {
  text-align: center;
  padding: 83px 16px;
  background-color: #edf5f6;
  margin-top: 80px;
}
.newsletter h1 {
  color: #333333;
  font-size: 50px;
}
.newsletter p {
  color: #333333;
  font-size: 20px;
  margin-top: -31px;
}
/* newsletter style end  */

/* footer start  */
footer {
  background-color: #0a0826;
  padding: 50px;
}
.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer h1,
p {
  color: #ffff;
  margin: 5px 0px;
}
/* .footer-icons */
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icons .fab {
  color: #fff;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  width: 32px;
  height: 32px;
  background-color: #80808052;
  border-radius: 30px;
}
/* footer end  */

/* Media Queries start */

/* Mobile Devices */
@media only screen and (max-width: 688px) {
  .container {
    max-width: 100%;
  }
  header h1 {
    text-align: center;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-left {
    width: 100%;
    text-align: center;
  }
  .banner-right {
    height: 300px;
  }
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .see-more {
    position: relative;
    left: 0px;
  }
  .banner-right object {
    width: 335px;
  }
  .banner-right img {
    width: 300px;
  }
  .footer-text {
    text-align: center;
  }
  .transition{
    display: none;
  }
}

/* Tablet Devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    max-width: 100%;
  }
  header h1 {
    text-align: center;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-left {
    width: 100%;
    text-align: center;
  }
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .see-more {
    position: relative;
    left: 0px;
  }
  .banner-right object {
    width: 440px;
  }
  .banner-right img {
    width: 405px;
  }
  .footer-text {
    text-align: center;
  }
  .transition{
    display: none;
  }
}

/* Media Queries end */
